/* GENERAL */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

img {
    max-width: 100%;
}

/* HEADER */
header{
    background-color: #000;
    color: #FFF;
    margin: 0;
    padding: 10px;
    width: 100%;
}

#logo{
    
}

#logo h1{
    line-height: 0;
}

#logo h2{
    line-height: 0;
}

#navigation{
    text-align: center;
}

#navigation ul{
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

#navigation li{
    display: inline-block;
}

#navigation a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #000;
}

#navigation a:hover{
    border: 1px solid #FFF;
    background-color: #EEE;
    border-radius: 5px;
    color: #000;
}


nav{
    
}

.profiltext{
    float: right;
    width: 85%;
}

.profilbild{
    width: 10%;
    border-radius: 100%;
}

/* MAIN */
main{
    background-color: #EEE;
}

main section{
    padding-top: 0px;
}

#tim,#html,#css,#omoss {
    background-color: #444;
}
#tim img, #html img, #css img, #omoss img {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#tim h1,#html h1,#css h1,#omoss h1 {
    margin: 0;
    padding: 5px 12px 10px 12px;
    color: #fff;
    border-bottom: 1px solid #000;

}

.both{

}

.left, .right{
    background-color: #FFF;
    border: 1px solid #DDD;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.left h2, .right h2{
    margin-top: 0px;
}

/* FOOTER */

#icons, #sitemap, #copy{
    text-align: center;
}

#sitemap{
    border-top: 1px dotted #FFF;
    border-bottom: 1px dotted #FFF;
}

#icons img{
    margin: 10px;
    position: relative;
}

#sitemap a{
    color: #FFF;
    text-decoration: none;
}

#sitemap ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sitemap li{
    display: inline-block;
    padding: 10px;
}

#copy{
    padding: 5px;
    font-size: 0.8em;
}

footer{
    background-color: #000;
    margin-top: 50px;
    color: #FFF;
}

