* {
    box-sizing: border-box;
}

.bottom-left {
    position: absolute;
    bottom: 80px;
    left: 160px;
    color: #FFF;
}

#tim img, #html img, #css img, #omoss img {
    width: 100%;
}

body{
    background-color: #EEE;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}
.test{
    color:black;
}
header{
    background-color: #000;
    color: #FFF;
    margin: 0;
    padding: 10px;
    width: 100%;
}

#logo{

}

#logo h1{
    line-height: 0;
}

#logo h2{
    line-height: 0;
}

#navigation{
    text-align: center;
}

#navigation ul{
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

#navigation li{
    display: inline-block;
}

#navigation a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #000;
}

#navigation a:hover{
    border: 1px solid #FFF;
    background-color: #EEE;
    border-radius: 5px;
    color: #000;
}


nav{
    
}

main{
    background-color: #EEE;
    border: 1px solid #000;
}

.both{

}

.left{
    background-color: #FFF;
    border: 1px solid #DDD;
    margin: 10px;
    padding: 10px;
}

.right{
    background-color: #FFF;
    margin: 10px;
    padding: 10px;
}

css{

}

.icons{

}

.sitemap{

}

.copy{

}

footer{

}

#tim h1 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0px;
    padding: 0px;
    color: #fff;
    background-color: #444;
}
/*
#tim{
    background-image: url("images/Sir_Tim_Berners-Lee.jpg");
    width: 100vw;
    height: 37.1vw;
    background-size: contain;
    background-repeat: no-repeat;
}
*/