/* GENERAL */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EEE;
    margin: 0;
    padding: 0;
    font-family: Quicksand;
}

img {
    max-width: 100%;
}

.clearfix {
    clear: both;
}

.backToTop{
    background-color: #eee;
    border: 1px solid #ccc;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    font-size: 15px;
    opacity: 0.75;
}

.backToTop a{
    display: block;
    text-decoration: none;
    font-size: 1.5em;
    padding: 5px 14px;
    color: #333;
}

/* HEADER */
header{
    background-color: #000;
    color: #FFF;
    margin: 0;
    padding: 10px;
    width: 100%;
}

#logo h1{
    line-height: 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    font-size: 3em;
    margin-left: 5px;
    font-weight: normal;
}

#logo h2{
    line-height: 10px;
    margin-left: 8px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: normal;
}

#navigation{
    text-align: center;
}

#navigation ul{
    list-style-type: none;
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

#navigation li{
    display: inline-block;
}

#navigation a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid #000;
}

#navigation a:hover{
    border: 1px solid #FFF;
    background-color: #EEE;
    border-radius: 5px;
    color: #000;
}

/* MAIN */
#main{
    background-color: #EEE;
}

#tim,#html,#css,#omoss {
    background-color: #444;
}
#tim img, #html img, #css img, #omoss img {
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#tim h1,#html h1,#css h1,#omoss h1 {
    margin: 0;
    padding: 5px 12px 10px 12px;
    color: #fff;
    border-bottom: 1px solid #000;
    
}

.left, .right{
    background-color: #FFF;
    border: 1px solid #DDD;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}

.left h2, .right h2{
    margin-top: 0px;
}

.profiltext{
    float: left;
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 10px;
    word-wrap: break-word;
}

.profilbild{
    float: left;
    display: inline-block;
    width: 10%;
    margin: 0px;
    min-width: 100px;
    border-radius: 100%;
}

/* FOOTER */

#icons, #sitemap, #copy{
    text-align: center;
}

#sitemap{
    border-top: 1px dotted #FFF;
    border-bottom: 1px dotted #FFF;
}

#icons p {
    margin: 10px 0px 0px 0px;
    position: relative;
    top: -32px;
}

#icons img {
    margin: 0px 10px;
}

#sitemap a{
    color: #FFF;
    text-decoration: none;
}

#sitemap ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sitemap li{
    display: inline-block;
    padding: 10px;
}

#copy{
    padding: 20px;
    font-size: 0.8em;
}

footer{
    background-color: #000;
    color: #FFF;
    border-top: 30px solid #EEE;
}

/* STORA SKÄRMAR */
@media(min-width: 768px) {
    /* GENERAL */
    body {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #000;
        box-shadow: 5px 0px 5px #CCC;
        background-color: #FFF;
    }

    /* HEADER */
    #logo {
        width: 45%;
        float: left;
    }
    
    #navigation {
        width: 55%;
        float: right;
        margin-top: 27px;
        text-align: right;
        padding-right: 25px;
    }
    
    /* MAIN */
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .left,.right {
        width: 48%;
        margin: 1%;
    }

    /* FOOTER */
    #sitemap,#copy,#icons {
        border: 0;
    }

    #sitemap {
        float: left;
        width: 33%;
        text-align: left;
    }
  
    #copy {
        float: left;
        width: 33%;
        align-content: center;
        font-size: 1em;
        margin-top: 30px;
        padding: 10px;
    }

    #icons {
        float: right;
        width: 34%;
        text-align: right;
        padding-right: 10px;
    }

    #icons p {
        top: -32px;
    }

    #sitemap ul {
        color: #FFF;
        list-style-type: disc;
        padding: 10px 40px ;
    }

    #sitemap li {
        display: list-item;
        padding: 3px;
    }

    /*flex header footer*/

    @supports(display: flex){

        header{
            display: flex;
        }
        footer{
            display: flex;
            
        }

        #sitemap{
            order: 1;
        }

        #copy{
            order: 2;
        }

        #icons{
            order: 3;
        }

    }
    /* Gridsupport Main*/
    @supports(display: grid){
        #main{
            display: grid;
            grid-template-columns: 50% 50%;
        }
        #tim,#omoss,#html,#css{
            grid-column: span 2;
        }

        #omoss,#html,#css{
            margin-top: 10px;
        }
        

        .left, .right{
            width: auto;
        }

        .left{
            grid-column: 1;
            margin: 10px 5px 0px 10px;
        }

        .right{
            grid-column: 2;
            margin: 10px 10px 0px 5px;
        }
        .both{
            grid-column: 1 / span 2;
            margin-right: 10px;
        }
    }

}